@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Allerta', sans-serif;
  scroll-behavior: smooth; }

html {
  padding: 0; }

/* !VARIABLES */
/* FUENTES TEXTO */
/* PADDINGS */
/* !MAPS */
/* TRANSICIONES */
/* COLORES */
/* TAMAÑOS FUENTE */
/* !ANIMACIONES */
/* Aplicadas en INDEX y en los iconos en NOSOTROS */
@keyframes opacidad {
  0% {
    opacity: 1; }
  30% {
    opacity: 0.5; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

@keyframes tembleque {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-15deg); }
  50% {
    transform: rotate(15deg); }
  75% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes zoom {
  0% {
    transform: scale(1); }
  15% {
    transform: scale(1.3); }
  30% {
    transform: scale(1); }
  45% {
    transform: scale(1.3); }
  60% {
    transform: scale(1); }
  75% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes giro {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

header nav {
  background-color: rgba(255, 252, 252, 0.708); }
  header nav .container-fluid a img {
    height: 5rem;
    width: 5rem;
    scale: 3;
    margin-left: 3rem; }
  header nav .container-fluid .navbar-collapse ul li a {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    color: #151313;
    transition: none; }
    header nav .container-fluid .navbar-collapse ul li a i {
      vertical-align: auto;
      font-size: 2rem;
      margin: 0 0.5rem; }
    header nav .container-fluid .navbar-collapse ul li a:hover {
      color: #3022aa; }
  header nav .container-fluid .navbar-collapse ul li::before {
    content: "";
    width: 0.6rem;
    height: 0rem;
    background-color: #F7B801;
    border-radius: 20px;
    transition: 300ms;
    position: absolute; }
  header nav .container-fluid .navbar-collapse ul li:hover::before {
    height: 3.2rem;
    transform: rotate(180deg); }

/* !START INDEX */
/* !Hero */
main .hero {
  padding-top: 7rem; }
  main .hero .container-fluid {
    padding: 0rem;
    background-image: url(../assets/images/roomie2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    overflow: hidden; }
    main .hero .container-fluid .name h1 {
      font-family: "Pacifico", sans-serif;
      font-size: 7vw;
      font-weight: 100;
      font-style: normal;
      color: #F7B801;
      text-shadow: 3px 3px 4px black;
      cursor: pointer; }
    main .hero .container-fluid .ask h2 {
      font-family: "Quicksand", sans-serif;
      font-size: 2.5vw;
      font-weight: 100;
      font-style: italic;
      color: #fcf0f0;
      text-shadow: 1px 1px 5px #151313;
      padding-bottom: 2rem; }
    main .hero .container-fluid .formulario div {
      padding: 0rem; }
      main .hero .container-fluid .formulario div input {
        border-radius: 0px;
        padding: 0.7rem; }
      main .hero .container-fluid .formulario div button {
        border-radius: 0px;
        padding: 0.7rem;
        background-color: #F35B04;
        border: 1px solid #F35B04; }
    main .hero .container-fluid .a-info {
      height: 6rem;
      width: 6rem;
      position: absolute;
      right: 3rem;
      bottom: 5rem;
      background-color: rgba(189, 189, 222, 0.5);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #151313;
      animation: tembleque 2s ease infinite; }

/* !Informacion */
.info {
  padding-top: 5rem; }
  .info .informacion .principal .texto article p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    font-style: normal; }
  .info .informacion .principal .a-go {
    height: 6rem;
    width: 6rem;
    position: relative;
    top: -9rem;
    background-color: rgba(189, 189, 222, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #151313;
    animation: tembleque 2s ease infinite; }

/* !Go */
.go {
  padding-top: 5rem; }
  .go .container div .pregunta {
    font-family: "Quicksand", sans-serif;
    font-size: 2.3rem;
    font-weight: 100;
    font-style: normal;
    color: #F7B801; }
  .go .container div .linkgo {
    color: #2b16ed;
    font-family: "Pacifico", sans-serif;
    font-size: 2.7rem;
    font-weight: 100;
    font-style: italic;
    transition: 500ms; }
    .go .container div .linkgo:hover {
      color: #4b4eec; }
  .go .container .a-hero {
    height: 6rem;
    width: 6rem;
    position: absolute;
    right: 2rem;
    background-color: rgba(189, 189, 222, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #151313;
    animation: tembleque 2s ease infinite; }
    .go .container .a-hero i {
      transform: rotate(180deg); }

/* !FIN INDEX */
/* !NOSOTROS START */
.nosotros {
  padding-top: 7rem;
  overflow: hidden; }
  .nosotros .container .nosotros__fila1 .tittle__equipo {
    font-family: "Reenie Beanie", cursive;
    font-size: 4rem;
    font-weight: 100;
    font-style: normal;
    padding: 2rem 0rem; }
  .nosotros .container .nosotros__fila2 img {
    width: 100%;
    height: 90vh;
    object-fit: contain;
    filter: grayscale(1);
    padding: 0rem;
    transition: 300ms all ease; }
    .nosotros .container .nosotros__fila2 img:hover {
      filter: grayscale(0); }
  .nosotros .container .nosotros__fila3 p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    font-style: normal;
    padding: 1rem 0;
    text-align: justify; }

/* !Cards-individuales */
.cards-individuales .container {
  padding: 2rem 0rem; }
  .cards-individuales .container .cards-individuales__fila1 .card {
    border: 3px solid #F7B801; }
    .cards-individuales .container .cards-individuales__fila1 .card:hover {
      box-shadow: 2px 2px 5px 2px #151313; }
    .cards-individuales .container .cards-individuales__fila1 .card .card-body .nombre {
      font-family: "Reenie Beanie", cursive;
      font-size: 2.3rem;
      font-weight: 100;
      font-style: normal; }
    .cards-individuales .container .cards-individuales__fila1 .card .card-body .presentacion {
      font-family: "Quicksand", sans-serif;
      text-align: justify; }
    .cards-individuales .container .cards-individuales__fila1 .card .card-body i {
      font-size: 4rem;
      position: absolute;
      top: -1rem;
      right: -1rem; }
    .cards-individuales .container .cards-individuales__fila1 .card .card-body .icono-augusto {
      color: #F35B04; }
      .cards-individuales .container .cards-individuales__fila1 .card .card-body .icono-augusto:hover {
        animation: zoom 1s ease; }
    .cards-individuales .container .cards-individuales__fila1 .card .card-body .icono-nayeli {
      color: #3022aa; }
      .cards-individuales .container .cards-individuales__fila1 .card .card-body .icono-nayeli:hover {
        animation: giro 1.6s ease alternate; }
    .cards-individuales .container .cards-individuales__fila1 .card .card-body .icono-donato {
      color: #7678ED; }
      .cards-individuales .container .cards-individuales__fila1 .card .card-body .icono-donato:hover {
        animation: tembleque 0.7s ease; }
    .cards-individuales .container .cards-individuales__fila1 .card .card-body .icono-frida {
      color: #F7B801; }
      .cards-individuales .container .cards-individuales__fila1 .card .card-body .icono-frida:hover {
        animation: opacidad 1s ease; }

/* Link */
.links-page-move {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 1rem 0; }
  .links-page-move a {
    font-family: "Pacifico", sans-serif;
    font-size: 2.7rem;
    font-weight: 100;
    font-style: normal;
    color: #2b16ed;
    transition: 500ms;
    text-align: center; }
    .links-page-move a:hover {
      color: #4b4eec; }

/* !FIN NOSOTROS */
/* !START ACTIVIDADES */
.modulos {
  padding-top: 7rem; }
  .modulos .modulos__contenedor h1 {
    text-align: center;
    font-family: "Reenie Beanie", cursive;
    font-size: 4rem;
    font-weight: 100;
    font-style: normal;
    padding: 0.5rem; }
  .modulos .modulos__contenedor h2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 0 10%;
    padding-bottom: 2rem; }
  .modulos .modulos__contenedor .carousel .carousel-inner .carousel-item img {
    display: block;
    margin: 0 auto;
    width: 85vw;
    object-fit: cover; }
  .modulos .modulos__contenedor .carousel .carousel-inner .carousel-item .carousel__text {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 15%;
    border-radius: 1rem; }
    .modulos .modulos__contenedor .carousel .carousel-inner .carousel-item .carousel__text h3 {
      font-family: "Quicksand", sans-serif;
      font-size: 2vw;
      font-weight: 100;
      font-style: italic; }
    .modulos .modulos__contenedor .carousel .carousel-inner .carousel-item .carousel__text p {
      font-family: "Quicksand", sans-serif;
      font-size: 1.1vw;
      font-weight: 100;
      font-style: normal; }
    .modulos .modulos__contenedor .carousel .carousel-inner .carousel-item .carousel__text button {
      text-decoration: none;
      font-family: "Quicksand", sans-serif;
      font-size: 1.5vw;
      font-weight: bold;
      font-style: normal;
      background-color: #F7B801;
      border: none; }
  .modulos .carousel-control-next span,
  .modulos .carousel-control-prev span {
    background-color: rgba(252, 5, 5, 0.3);
    height: 100%; }

.acord .accordion {
  max-width: 85%;
  margin: 2rem auto;
  border: 1px solid; }
  .acord .accordion .accordion-item {
    background-color: whitesmoke; }
    .acord .accordion .accordion-item h4 {
      font-family: "Quicksand", sans-serif;
      font-size: 1rem;
      font-weight: 100;
      font-style: normal; }

/* !FIN ACTIVIDADES  */
/* !START PIZARRA */
.pizarra {
  padding-top: 7rem; }
  .pizarra .tittle {
    text-align: center;
    font-family: "Reenie Beanie", cursive;
    font-size: 4rem;
    font-weight: 100;
    font-style: normal; }
  .pizarra .container-fluid {
    background-image: url(../assets/images/texturacorcho8.jpg);
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 1px #151313;
    margin: 1rem auto 15rem auto;
    width: 95vw;
    height: 100vh;
    border-style: inset;
    border-width: 2rem;
    border-image-source: url(../assets/images/bordertextura3.jpg);
    border-image-slice: 60 30;
    position: relative;
    font-size: 1.3rem; }
    .pizarra .container-fluid .posit {
      height: 30vh;
      width: 15vw;
      margin-top: 4rem;
      border: 2px solid; }
    .pizarra .container-fluid .pizarra__fila1 {
      display: flex;
      justify-content: space-around;
      align-items: stretch; }
      .pizarra .container-fluid .pizarra__fila1 .calendar iframe {
        height: 50vh;
        width: 30vw;
        margin-top: 3rem; }
      .pizarra .container-fluid .pizarra__fila1 .posit_1 {
        background-color: #cfc;
        transform: rotate(-5deg); }
        .pizarra .container-fluid .pizarra__fila1 .posit_1::placeholder {
          text-align: center;
          color: #151313;
          font-family: "Pacifico", sans-serif;
          font-size: 1.5vw;
          font-weight: 100;
          font-style: normal; }
      .pizarra .container-fluid .pizarra__fila1 .posit_2 {
        background-color: #fcf;
        transform: rotate(5deg); }
        .pizarra .container-fluid .pizarra__fila1 .posit_2::placeholder {
          text-align: center;
          color: #151313;
          font-family: "Pacifico", sans-serif;
          font-size: 1.5vw;
          font-weight: 100;
          font-style: normal; }
    .pizarra .container-fluid .pizarra__fila2 {
      display: flex;
      justify-content: center;
      align-items: center; }
      .pizarra .container-fluid .pizarra__fila2 .papel {
        display: flex;
        justify-content: center;
        align-items: flex-start; }
        .pizarra .container-fluid .pizarra__fila2 .papel .papel__links {
          background-image: url(../assets/images/papel.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          list-style: none;
          padding: 5rem;
          display: flex;
          justify-content: normal;
          align-items: stretch;
          flex-direction: column;
          flex-wrap: wrap;
          position: relative;
          bottom: 2rem; }
          .pizarra .container-fluid .pizarra__fila2 .papel .papel__links li {
            font-size: 1.5vw; }
            .pizarra .container-fluid .pizarra__fila2 .papel .papel__links li a {
              color: #3022aa;
              text-decoration: none;
              font-family: "Oswald", sans-serif; }
              .pizarra .container-fluid .pizarra__fila2 .papel .papel__links li a:hover {
                color: #F7B801; }
      .pizarra .container-fluid .pizarra__fila2 .posit__3 {
        background-color: #fcc;
        position: relative;
        bottom: 10rem;
        right: 7rem; }
        .pizarra .container-fluid .pizarra__fila2 .posit__3::placeholder {
          text-align: center;
          color: #151313;
          font-family: "Pacifico", sans-serif;
          font-size: 1.5vw;
          font-weight: 100;
          font-style: normal; }

/* FIN PIZARRA */
/* !START CONTACTO */
.formularios {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 7rem; }
  .formularios h1 {
    color: #151313;
    font-family: "Reenie Beanie", cursive;
    font-size: 4rem;
    font-weight: 100;
    font-style: normal;
    flex-basis: 100%;
    text-align: center; }
  .formularios .container-contacto {
    padding: 3rem;
    margin-top: 4rem;
    background-color: #F7B801;
    max-width: 45%;
    border-radius: 20px;
    padding-top: 7rem; }
    .formularios .container-contacto h2 {
      font-family: "Pacifico", sans-serif;
      font-size: 3rem;
      font-weight: 100;
      font-style: normal;
      color: whitesmoke;
      text-shadow: 2px 2px 2px black;
      padding-bottom: 1rem; }
    .formularios .container-contacto h3 {
      text-align: center;
      font-family: "Quicksand", sans-serif;
      font-size: 1.3rem;
      font-weight: 100;
      font-style: normal; }
    .formularios .container-contacto form .botones {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 2rem;
      width: 50%;
      margin: 2rem auto; }
      .formularios .container-contacto form .botones .send {
        background-color: #7678ED; }
      .formularios .container-contacto form .botones .reset {
        background-color: #F35B04; }

/* !FIN CONTACTO */
/* !404 ERROR */
main .error {
  overflow: hidden;
  height: 100%; }
  main .error .row .col-12 {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
    background-color: #F7B801; }
    main .error .row .col-12 h1 {
      text-align: center;
      font-family: "Pacifico", sans-serif;
      font-size: 6rem;
      font-weight: 100;
      font-style: normal; }
    main .error .row .col-12 h2 {
      text-align: center;
      font-family: "Quicksand", sans-serif;
      font-size: 3.3rem;
      font-weight: 100;
      font-style: normal; }
    main .error .row .col-12 .animacionn {
      scale: 1.1;
      overflow-x: hidden; }

/* !FOOTER START */
footer .container-fluid {
  background-color: #F7B801;
  margin-top: 4rem;
  overflow: hidden; }
  footer .container-fluid .icons-links {
    padding: 1rem 0; }
    footer .container-fluid .icons-links ul li {
      font-size: 2.7rem;
      margin: 0 1rem; }
      footer .container-fluid .icons-links ul li a i {
        color: #fcf0f0;
        text-shadow: 5px 5px 2px #928f8f; }
        footer .container-fluid .icons-links ul li a i:hover {
          scale: 1.3; }
  footer .container-fluid .derechos {
    background-color: #151313;
    display: flex;
    justify-content: center;
    align-items: center; }

/* !MEDIAS PERSONALIZADOS */
@media (max-width: 1200px) {
  .nosotros .container .nosotros__fila2 img {
    height: 40vw; }
  .cards-individuales .container .cards-individuales__fila1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; }
    .cards-individuales .container .cards-individuales__fila1 .col {
      margin: 2rem 0;
      width: 80%; } }

@media (max-width: 992px) {
  header nav .container-fluid .navbar-collapse ul li::before {
    display: none; } }

@media (max-width: 767px) {
  /* INDEX MEDIA */
  main .hero .container-fluid .name h1 {
    font-size: 14vw; }
  main .hero .container-fluid .ask h2 {
    font-size: 6vw; }
  main .hero .container-fluid .a-info {
    display: none; }
  main .info .informacion .principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden; }
    main .info .informacion .principal .col-animacion, main .info .informacion .principal .col-texto {
      width: 100%;
      text-align: justify; }
    main .info .informacion .principal .a-go {
      display: none; }
    main .info .informacion .principal .texto article {
      width: 100vw; }
  main .info .informacion .article .texto div p {
    width: 100%; }
  main .go .container p {
    font-family: "Quicksand", sans-serif;
    font-size: 5vw; }
  main .go .container .a-hero {
    display: none; }
  /* !PIZARRA MEDIA */
  .pizarra {
    height: 100%; }
    .pizarra .container-fluid {
      height: 100%; }
      .pizarra .container-fluid .pizarra__fila1 {
        flex-direction: column;
        align-items: center; }
        .pizarra .container-fluid .pizarra__fila1 .calendar {
          align-items: center;
          width: 70vw; }
          .pizarra .container-fluid .pizarra__fila1 .calendar iframe {
            width: 100%; }
        .pizarra .container-fluid .pizarra__fila1 .postit {
          width: 50vw; }
          .pizarra .container-fluid .pizarra__fila1 .postit .posit {
            width: 100%;
            transform: rotate(0deg); }
            .pizarra .container-fluid .pizarra__fila1 .postit .posit::placeholder {
              font-size: 1rem; }
      .pizarra .container-fluid .pizarra__fila2 {
        flex-direction: column;
        align-items: center; }
        .pizarra .container-fluid .pizarra__fila2 .papel {
          width: 50vw;
          margin-top: 2rem;
          margin-right: 1rem; }
          .pizarra .container-fluid .pizarra__fila2 .papel .papel__links {
            width: 100%;
            height: 50vh;
            padding: 0rem;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 2rem; }
            .pizarra .container-fluid .pizarra__fila2 .papel .papel__links li {
              font-size: 1.4rem; }
        .pizarra .container-fluid .pizarra__fila2 .postit {
          width: 50vw;
          justify-content: center;
          order: -3;
          margin-top: 4rem; }
          .pizarra .container-fluid .pizarra__fila2 .postit .posit {
            width: 100%;
            position: relative;
            bottom: 5rem;
            right: 0; }
            .pizarra .container-fluid .pizarra__fila2 .postit .posit::placeholder {
              font-size: 1rem; } }

@media (max-width: 757px) {
  .formularios {
    flex-direction: column; }
    .formularios .container-contacto {
      max-width: 90%; }
      .formularios .container-contacto form .botones {
        width: 90%; } }
