/* !START ACTIVIDADES */

.modulos{
    padding-top: 7rem;
    .modulos__contenedor{
        h1{
            text-align: center;
            font-family: var(--font-family7);
            font-size: 2.9rem;
            padding: 0.5rem;
        }
        h2{
            text-align: center;
            font-size: 1.3rem;
            margin: 0 10%;
            padding-bottom: 2rem;

        }
        .carousel{
            .carousel-inner{
                .carousel-item{
                    img{
                        display: block;
                        margin: 0 auto;
                        width: 85vw;
                    }
                    .carousel__text{
                        background-color: rgba(0, 0, 0, 0.5);
                        margin: 0 15%;
                        border-radius: 1rem;
                        h3{
                            font-family: var(--font-family7);
                            font-size: 2vw;
                        }
                        p{
                            font-family: var(--font-family7);
                            font-size: 1.1vw;
                        }
                        button{
                            text-decoration: none;
                            font-size: 1.5vw;
                            font-family: var(--font-family7);
                            font-weight: bold;
                            background-color: var(--color3);
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .carousel-control-next , .carousel-control-prev{
        span{
            background-color: rgba(252, 5, 5, 0.3);
            height: 100%;

        }
    }
}

/* !FIN ACTIVIDADES  */




