

/* !START CONTACTO */
.formularios {
    h1{
        color: $color-black;
        font-size: $size-tittle;
        font-family: $font-family3;
        flex-basis: 100%;
        text-align: center;
    }
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 7rem;
    .container-contacto{
        padding: 3rem;
        margin-top: 4rem;
        background-color: $color3;
        max-width: 45%;
        border-radius: 20px;
        padding-top: 7rem;
        form{
            .botones{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 2rem;
                width: 50%;
                margin: 2rem auto;

            }
        }
    }
}
/* !FIN CONTACTO */
