/* !FOOTER START */
footer{
    .container-fluid{
        background-color: map-get($colores , color3);
        margin-top: 4rem;
        overflow: hidden;
        .icons-links{
            padding: ($pd-0 + 1) 0;
            ul{
                li{
                    font-size: map-get($tamaños-texto,size-links );
                    margin: 0 1rem;
                    a{
                        i{
                            color: map-get($colores , color-white);
                            text-shadow: 5px 5px 2px rgb(146, 143, 143);
                            &:hover{
                                scale: 1.3;
                            }
                        }
                    }
                }
            }
        }
        .derechos{
            background-color: map-get($colores , color-black);
            @include flex-justify-align(center, center);

        }
    }
}