header{
    nav{
        background-color: rgba(255, 252, 252, 0.708);
        .container-fluid{
            a{
                img{
                    height: 5rem;
                    width: 5rem;
                    scale: 3;
                    margin-left: 3rem;

                }
            }
            .navbar-collapse{
                ul{
                    li{
                        a{
                            @include texto($font-family1, 1.5rem, bold);
                            color: map-get($colores , color-black );
                            transition: map-get($transitions, n );
                            i{
                                vertical-align: auto;
                                font-size: 2rem;
                                margin: 0 0.5rem;
                            }
                            &:hover{
                                color: map-get($colores , color1 );
                            }

                        }
                        &::before{
                            content: "";
                            width: 0.6rem;
                            height: 0rem;
                            background-color: map-get($colores , color3 );
                            border-radius: 20px;
                            transition: map-get($transitions , 300 );
                            position: absolute;
                        }
                        &:hover::before{
                            height: 3.2rem;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            
        }
    }
}
