
/* !START INDEX */
/* !Hero */
main{
    .hero{
        padding-top: 7rem;
        .container-fluid{
            padding: 0;
            background-image: url(../assets/images/roomie1.jpg);
            background: url(../assets/images/roomie2.jpg);
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            height: 85vh;
            overflow: hidden;
            .name{
                h1{
                    font-family: $font-family-links;
                    font-size: 7vw;
                    color: $color3 ;
                    text-shadow: 3px 3px 4px $color-black;
                    cursor: pointer;
                }
            }
            .ask{
                h2{
                    font-family: $font-family2;
                    color: $color-white;
                    font-size: 2.5vw;
                    text-shadow: 1px 1px 5px $color-black;
                    padding-bottom: 2rem;
                }
            }
            .formulario{
                div{
                    padding: 0;
                    input , button{
                        border-radius: 0px;
                        padding: 0.7rem;

                    }

                }
            }
            .a-info{
                height: 6rem;
                width: 6rem;
                position: absolute;
                right: 3rem;
                bottom: 5rem;
                background-color: rgba(189, 189, 222, 0.5);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: $color-black;
                animation: tembleque 2s ease infinite;
            }

        }
    }
    
}

/* !Informacion */
.info{
    padding-top: 5rem;
    .informacion{
        .principal{
            .texto{
                article{
                    p{
                        font-family: $font-family2;
                        font-size: $size-texto-p;

                    }
                }
            }
            .a-go{
                height: 6rem;
                width: 6rem;
                position: relative;
                top: -9rem;
                background-color: rgba(189, 189, 222, 0.5);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: $color-black;
                animation: tembleque 2s ease infinite;

            }
        }
    }
}

/* !Go */
.go{
    padding-top: 5rem;
    .container{
        div{
            .pregunta{
                font-family: $font-family2;
                font-size: $size-subtittle;
                color: $color3;
            }
            .linkgo{
                color: $color-link;
                font-size: $size-links;
                font-family: $font-family-links;
                transition: 0.5s;
                &:hover{
                    color: $color-link-hover;
                }
            }
        }
        .a-hero{
            height: 6rem;
            width: 6rem;
            position: absolute;
            right: 2rem;
            background-color: rgba(189, 189, 222, 0.5);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $color-black;
            animation: tembleque 2s ease infinite;
            i{
                transform: rotate(180deg);
            }
        }
    }

}

/* !FIN INDEX */