
/* !START PIZARRA */

.pizarra {
    padding-top: 7rem;
    .tittle{
        text-align: center;
        font-size: 2.9rem;
        font-family: var(--font-family7);
    }
    .container-fluid{
        background-image: url(../assets/images/texturacorcho8.jpg);
        background-size: cover;
        box-shadow: inset 0px 0px 20px 1px black;
        margin: 1rem auto 15rem auto;
        width: 95vw;
        height: 100vh;
        border-style: inset;
        border-width: 2rem;
        border-image-source: url(../assets/images/bordertextura3.jpg);
        border-image-slice: 60 30;
        position: relative;
        font-size: 1rem;
        .posit{
            height: 30vh;
            width: 15vw;
            margin-top: 4rem;
            border: 2px solid;

        }
        .pizarra__fila1{
            display: flex;
            justify-content: space-around;
            .calendar{
                iframe{
                    height: 50vh;
                    width: 30vw;
                    margin-top: 3rem;
                }
            }
            .posit_1{
                background-color: #cfc;
                transform: rotate(-5deg);
                &::placeholder{
                    text-align: center;
                    color: black;
                    font-size: 1.5vw;
                    font-family:var(--font-family6);
                }
            }
            .posit_2{
                background-color: #fcf;
                transform: rotate(5deg);
                &::placeholder{
                    text-align: center;
                    color: black;
                    font-size: 1.5vw;
                    font-family:var(--font-family6);
                }
            }
        }
        .pizarra__fila2{
            display: flex;
            justify-content:center;
            align-items: center;
            .papel{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                .papel__links{
                    background: url(../assets/images/papel.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    list-style: none;
                    padding: 4rem;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    bottom: 2rem;
                    li{
                        font-size: 1.5vw;
                        a{
                            color: var(--color1);
                            text-decoration: none;
                            font-family: var(--font-family1);
                            &:hover{
                                color: var(--color3);
                            }
                        }
                    }
                }
            }
            .posit__3{
                background-color: #fcc;
                position: relative;
                bottom: 10rem;
                right: 7rem;
                &::placeholder{
                    text-align: center;
                    color: black;
                    font-size: 1.5vw;
                    font-family:var(--font-family6);
                }
            }
        }
    }
}

/* FIN PIZARRA */
