/* !VARIABLES */
/* FUENTES TEXTO */
$font-family1       : 'Oswald', sans-serif;
$font-family2       : 'Quicksand', sans-serif;
$font-family3       : 'Reenie Beanie', cursive;
$font-family-links  : 'Pacifico', sans-serif;


/* PADDINGS */
$pd-7  : 7rem;
$pd-5  : 5rem;
$pd-2  : 2rem;
$pd-0  : 0rem;







/* !MAPS */
/* TRANSICIONES */
$transitions:(
    n       : none,
    300     : 300ms,
    400     : 400ms,
    500     : 500ms,
    1000    : 1s,
);

/* COLORES */
$colores:(
    color1           :#3022aa,
    color2           :#7678ED,
    color3           :#F7B801,
    color4           :#F18701,
    color5           :#F35B04,
    color-link       :#2b16ed,
    color-link-hover :#4b4eec,
    color-black      :rgb(21, 19, 19),
    color-white      : rgb(252, 240, 240),

);

/* TAMAÑOS FUENTE */
$tamaños-texto:(
size-tittle    :4rem,
size-subtittle :2.3rem,
size-texto-p   :1.3rem,
size-links     :2.7rem,
);