@import "_reset.scss";
@import "_animaciones.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_index.scss";
@import "_nosotros.scss";
@import "_pizarra.scss";
@import "_mediaQ.scss";


/* ! FUENTES UTILIZADAS Y COLORES */
:root {
    --font-family1: 'Oswald', sans-serif;
    --font-family7: 'Quicksand', sans-serif;
    --font-family9: 'Reenie Beanie', cursive;
    --font-family6: 'Pacifico', sans-serif;
    --color1: #3022aa;
    --color2: #7678ED;
    --color3: #F7B801;
    --color4: #F18701;
    --color5: #F35B04;

}

html {
    padding: 0;
}










/* !START ACTIVIDADES */

.modulos{
    padding-top: 7rem;
    .modulos__contenedor{
        h1{
            text-align: center;
            font-family: var(--font-family7);
            font-size: 2.9rem;
            padding: 0.5rem;
        }
        h2{
            text-align: center;
            font-size: 1.3rem;
            margin: 0 10%;
            padding-bottom: 2rem;

        }
        .carousel{
            .carousel-inner{
                .carousel-item{
                    img{
                        display: block;
                        margin: 0 auto;
                        width: 85vw;
                    }
                    .carousel__text{
                        background-color: rgba(0, 0, 0, 0.5);
                        margin: 0 15%;
                        border-radius: 1rem;
                        h3{
                            font-family: var(--font-family7);
                            font-size: 2vw;
                        }
                        p{
                            font-family: var(--font-family7);
                            font-size: 1.1vw;
                        }
                        button{
                            text-decoration: none;
                            font-size: 1.5vw;
                            font-family: var(--font-family7);
                            font-weight: bold;
                            background-color: var(--color3);
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .carousel-control-next , .carousel-control-prev{
        span{
            background-color: rgba(252, 5, 5, 0.3);
            height: 100%;

        }
    }
}

/* !FIN ACTIVIDADES  */






/* !START CONTACTO */
.formularios {
    display: flex;
    justify-content: space-around;
    padding-top: 7rem;
    .container-contacto{
        padding: 3rem;
        margin-top: 4rem;
        background-color: var(--color3);
        max-width: 45%;
        border-radius: 20px;
        padding-top: 7rem;
        form{
            .botones{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 2rem;
                width: 50%;
                margin: 2rem auto;

            }
        }
    }
}
/* !FIN CONTACTO */






